# Android / Gradle
*.iml
.gradle
/local.properties
.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# IDE
.vscode
.continue/

# Build outputs
app/build/
output/

# Logs
*.log
yarn-errors.log
coverage/
package-lock.json